{% extends "base.twig" %} 

    {% block content %}
        {% if intro is not empty %}
            <div id="intro">
                <div class="doubleCol">
                    {{ intro }}
                </div>

                <div class="doubleCol center">
                    <img src="{{ site.theme.link }}/static/images/mulch.png" alt="Multch">
                </div>
            </div>
        {% endif %}

        {% if process is not empty %}
            <div class="our-process">
                <h2>Our Process</h2>
                {{ process }}
            </div>
        {% endif %}

        {% if featured|length >= 1 %}
            <div class="featured-product-lines">
                <img src="{{ site.theme.link }}/static/images/group-of-bricks-2.png" alt="Group of Bricks">
                <img src="{{ site.theme.link }}/static/images/top-view-of-plant-2.png" alt="Top View of Plant">
                
                <div class="width-1500">
                    <h2>Featured Product Lines</h2>
                    {{ featured }}
                </div>
            </div>
        {% endif %}
    {% endblock %}
